{% extends 'poll/base.html' %}

{% block body %}
<div class="container my-4 card bg-light p-5">
  <h2 class='card-title'>Welcome to the School Management System! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    This is a School Management System where you can create a <b>Student</b> Account and <b>Teacher</b> Account. Just Click on Right Side <b>Sign Up</b> button to register yourself. If you succesfully create a account then you can login or If you already have an account then click on <b>Login</b> Button 
    
  </p>
</div>
{% endblock %}